{{!< default}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

google.load("feeds","1");

function initialize(){
    var feed=new google.feeds.Feed("http://mattthinkshesasysadmin.blogspot.com/feeds/posts/default");
    feed.load(function(result){
        if(!result.error)
        {
            console.log("no error");
            var container = document.getElementById("author-rss");
            for(var i=0;i<result.feed.entries.length;i++)
            {
                console.log("entry "+JSON.stringify(entry));
                var entry=result.feed.entries[i];
                var article= document.createElement("article");
                var link = document.createElement("a");
                $(link).attr("href", entry.link);
                var title = document.createElement("h3");
                $(title).html(entry.title);
                $(link).append(title);
                $(article).html(link);
                var summary = document.createElement("div");
                $(summary).html(entry.contentSnippet);
                $(article).append(summary);
                /*var content = document.createElement("content");
                $(content).html(entry.content);
                $(content).text($(content).text().substr(0,500)+"...");
                $(article).append(content);*/
                container.appendChild(article);
            }
        }
        else{
            console.log(result.error);
        }

    });

}
google.setOnLoadCallback(initialize);
/*window.onload = function(){
    var script = document.createElement("script");
    console.log("after onload");
    script.type = "text/javascript";
    script.src ="/assets/js/jFeed/build/dist/jquery.jfeed.pack.js";

    script.onreadystatechange = jFeedLoaded();
    script.onload = jFeedLoaded();
    document.head.appendChild(script);
}*/

function jFeedLoaded(){
    console.log("called jfeed loaded");
    jQuery.getFeed({
    url: 'mattthinkshesasysadmin.blogspot.com/feeds/posts/default/',
    success: function(feed) {
    
        jQuery('#result').append('<h2>'
        + '<a href="'
        + feed.link
        + '">'
        + feed.title
        + '</a>'
        + '</h2>');
        
        var html = '';
        
        for(var i = 0; i < feed.items.length && i < 5; i++) {
        
            var item = feed.items[i];
            
            html += '<h3>'
            + '<a href="'
            + item.link
            + '">'
            + item.title
            + '</a>'
            + '</h3>';
            
            html += '<div class="updated">'
            + item.updated
            + '</div>';
            
            html += '<div>'
            + item.description
            + '</div>';
        }
        
        jQuery('#author-rss').append(html);
    }    
});
}

</script>


<main class="content pure-u-1" role="main">
    <!-- author section may need a different semantic tag -->
    <section class="author-section">
        {{#author}}
            <a href="{{url}}">
                <img class="author-img" src="{{image_url}}" alt="exposer team icon" title="the Exposer Team"/>
            </a>
            <div class="author-bio">                        
                <a href="{{url}}"><h2 class="author-name">{{name}}</h2></a>
                <section>{{bio}}</section> 
                <a class="author-website" href="{{website}}">{{website}}</a>
            </div>
        {{/author}}
    </section>
    <section id="author-rss">
        <h2>{{author.name}}'s Offsite Feed</h2>
    </section>
    {{#foreach posts}}
        <article class="post {{post-class}} pure-u-1">
            {{> post-list}}
        </article>
    {{/foreach}}
</main>


