{{!< default}}
<script type="text/javascript" src="{{asset 'js/citationhelper.js'}}"></script>
<link rel="stylesheet" type="text/css" href="{{asset 'css/post.css'}}"/>
{{#post}}
<main class="content" role="main">
    <article class="post pure-u-4-5">
        <header class="post-header">
        </header>




        <section class="post-content">
            {{content}}
        </section>
        
        <!-- if we had a footer it would go here maybe citations? -->
    </article>
    <aside class="author-aside pure-u-1-5">
        {{#author}}
            <a href="{{url}}">
            <img class="author-img" src="{{image_url}}" alt="exposer team icon" title="the Exposer Team"/>
            </a>            
            <a href="{{url}}"><h3 class="author-name">{{name}}</h3></a>
            <section>{{bio}}</section> 
            <!-- {{website}} -->
            <!--{{cover_image}}-->
        {{/author}}
    </aside>
</main>
{{/post}}
