{{!< default}}


<header class="exposer-header pure-u-1-1" >
<!--{{#if @blog.cover}}style="background-image: url({{@blog.cover}}); background-repeat:no-repeat" {{/if}} role="banner">
-->
    <h1 class="exposer-title"><sup id="exposer-title-superscript">The</sup>Exposer</h1>
    <section>
        {{#if @blog.logo}}
            <a class="blog-logo pure-img" href="{{@blog.url}}">
                <img src="{{@blog.logo}}" alt="Blog Logo"/>
            </a>
        {{/if}}
    </section>
</header>


{{#post}}
<main class="content exposer-post" role="main">
    <header class="exposer-post-header">
        <h2 class="exposer-post-title"><a href="{{url}}">{{title}}</a></h2>
        <span>{{#if tags}}on {{tags}}{{/if}}</span>
    </header>

    <section class="exposer-post-content pure-u-1-1">
        {{content}}
    </section>

    <footer class="exposer-post-footer">
        <span class="exposer-date"><time datetime=""{{date published_at format="YYYY-MM-DD"}}>{{date published_at format="YYYY-MM-DD"}}</time></span>
        <div class="button">
            <a href="{{url}}">Read More</a>
        </div>
    </footer>
</main>
{{/post}}
<footer class="main-footer">
    {{ghost_foot}}
</footer>

