{{!< default}}

{{#post}}
<main class="content post" role="main">
    <div>
    <article class="pure-u-4-5">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
            {{#if tags}}<span> {{tags}}</span>{{/if}}
        </header>

        <section class="post-content">
            {{content}}
        </section>
        
        <footer class="post-footer">
            <span class="date"><time datetime=""{{date published_at format="YYYY-MM-DD"}}>
                {{date published_at format="YYYY-MM-DD"}}
            </time></span>
            <div class="button">
                <a href="{{url}}">Read More</a>
            </div>
        </footer>
    </article>
    <aside class="author-aside pure-u-1-5">
        {{#author}}
            <a href="{{url}}">
            <img class="author-img" src="{{image}}" alt="exposer team icon" title="the Exposer Team"/>
            </a>            
            <a href="{{url}}"><h3 class="author-name">{{name}}</h3></a>
            <section>{{bio}}</section> 
            <!-- {{website}} -->
            <!--{{cover}}-->
        {{/author}}
    </aside>
    </div>
</main>
{{/post}}
